body {
    background-color: #f0e7c7;
    margin:0;
    padding:0;
}

header{
    display: flex;
    height: 50px;
    justify-content:space-between;
    background-color: #d4ccb0;
    border-bottom: 1px solid gray;
    align-items: center;
}

.logo{
    align-self: flex-start;
    height: 50px;
    width: 140px;
    display: flex;
    align-items: center;
}

.logo > p{
    font-size: 35px;
}
.context-menu{
    height: 100%;
    align-self: flex-end;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.context-menu > div{
    height: 100%;
    padding-right:8px;
    font-size: 22px;
    border-left: 1px solid gray;
    padding-left:8px;
    display: flex;
    align-items: center;
}
.context-menu > div:hover{
    background-color: #bab193;
}

.context-menu > div > a{
    text-decoration: none;
    color: black;
}

.context-menu > div:first-child{
    padding-right:8px;
    font-size: 22px;
    border-left: 0px;
}
