.title{
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 40px;
}

.auctions_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.auctions_list{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-basis: auto;
}
.auctions_auction{
    border: 6px #ff5a00 solid;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-basis: auto;
    margin: 20px;
    max-width: 300px;
    border-radius: 10%;
    background-color: #bdb8c2;
}

.auctions_auction > a{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    text-decoration: none;
    justify-content: center;
    color: black;
}
.auction_image{
    width: 100%;
    height:auto;
    max-width: 250px;
    max-height: 250px;
}

.auctions_auction > a > p{
    text-align: center;
}