<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auctions</title>
    <link rel="stylesheet" href="/css/auctions.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <div class="logo">
            <p>Allegra</p>
        </div>
        <div class="context-menu">
            <a href="/"><div>Main Page</div></a>
            <a href="/auctions"><div>Auctions</div></a>
            <a href="/profile"><div>Profile</div></a>
        </div>
    </header>
    <div class="auctions_part">
        <h1 class="title">Auctions</h1>
        <div class="auctions_list">
            <div th:each="auction : ${auctions}" class="auctions_auction" >
                <a th:href="@{/auctions/{id}(id=${auction.auction_id})}">
                    <p th:text="${auction.name}"></p>
                    <p><img th:src="${auction.url}" class="auction_image"></img></p>
                    <p th:text="'Price: ' + ${auction.price}"></p>
                </a>
            </div>
        </div>

    </div>

</body>
</html>