<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auctions</title>
    <link rel="stylesheet" href="/css/auctions.css">

</head>
<body>
    <header>
        <div class="logo">
            <p>Allegra</p>
        </div>
        <div class="context-menu">
            <div><a href="/">Main Page</a></div>
            <div><a href="/auctions">Auctions</a></div>
            <div><a href="/profile">Profile</a></div>
        </div>
    </header>
    <h1>Auctions</h1>
    <div><a href="/auctions/1">Auction 1</a></div>
</body>
</html>