<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Auction</title>
    <link rel="stylesheet" href="/css/auction.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
  <header>
    <div class="logo">
      <p>Allegra</p>
    </div>
    <div class="context-menu">
      <a href="/"><div>Main Page</div></a>
      <a href="/auctions"><div>Auctions</div></a>
      <a href="/profile"><div>Profile</div></a>
    </div>
  </header>
  <div>
    <h1>Auction</h1>
    <p th:text="${auction.auction_id}"></p>
    <p th:text="${auction.name}"></p>
    <p><img th:src="${auction.url}" class="auction_image"></img></p>
    <p th:text="${auction.start_date}"></p>
    <p th:text="${auction.end_date}"></p>
    <p th:text="${auction.price}"></p>
    <p th:text="${auction.reviews}"></p>
  </div>
</body>
</html>