<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <div class="logo">
            <p>Allegra</p>
        </div>
        <div class="context-menu">
            <a href="/"><div>Main Page</div></a>
            <a href="/auctions"><div>Auctions</div></a>
            <a href="/profile"><div>Profile</div></a>
        </div>
    </header>
    <div>
        <h1>Welcome to Allegra</h1>
    </div>
</body>
</html>